.card-img{
    width: 60px !important;
    padding: 10px;
    background-color: #f3f7fb;
    border: 1px solid #e4e7eb;
    margin-bottom: 15px;
}
.four-cards{
    background-color: #f3f7fb;
    border: 1px solid #e4e7eb;
}
.C-body h5{
    font-weight: bold;
}
.C-body button{
    background-color: #f3f7fb;
    color: black;
    border: 1px solid #e4e7eb;
}
@media (max-width:500px) {
    .four-cards{
   width: 100%;
   margin: 300px 0 80px;
    }
}
